.background-1-hsf{
    background-image: url(/Pages/Hsf/Hsf-images/01.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-width: 100%;

    .container{

        .header-home{

            .onebitcode-logo{
            width: 190px;
            }

            .nav-link{
                color: white;
                font-size: 11px;
                font-weight: bold;
            }

            .navbar-button{
                border: 1px solid #8C8C8C;
            }
        }

        .div-content-hsf{
            margin-top: 100px;
            align-items: center;

            .title-hsf{
                font-size: 50px;
                text-align: center;
            }

            .h5{
                font-size: 27px;
                text-align: center;
            }

            .button-saiba-mais{
                font-size: 13px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-width: 2px;
            }

            .div-arrow-down{

                .gif-arrow-down{
                    width: 100px;
                }
            }
        }
    }
}

.text-1-div{
    background-color: black;
    .text-1{
        font-size: 20px;
        text-align: center;
        max-width: 100%;
        margin-bottom: 0px;
    }

    .email-link{
        text-decoration: none;
        color: gray;
    }
}


.background-2-hsf{
    background-image: url(/Pages/Hsf/Hsf-images/02.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    .container{

        .div-content-hsf-2{

            .mission{
                font-size: 18px;
            }

            .orbita{
                font-size: 50px;
                font-weight: bold;
            }

            .button-explorar{
                font-size: 17px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-width: 2px;
            }
        }
    }
}

.background-3-hsf{
    background-image: url(/Pages/Hsf/Hsf-images/03.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    .container{

        .div-content-hsf-3{

            .mission{
                font-size: 18px;
            }

            .space-station{
                font-size: 50px;
                font-weight: bold;
            }

            .button-explorar{
                font-size: 17px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-width: 2px;
            }
        }
    }
}

.background-4-hsf{
    background-image: url(/Pages/Hsf/Hsf-images/04.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    .container{

        .div-content-hsf-4{

            .mission{
                font-size: 18px;
            }

            .lua{
                font-size: 50px;
                font-weight: bold;
            }

            .button-explorar{
                font-size: 17px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-width: 2px;
            }
        }
    }
}

.background-5-hsf{
    background-image: url(/Pages/Hsf/Hsf-images/05.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    .container{

        .div-content-hsf-5{

            .mission{
                font-size: 18px;
            }

            .mars{
                font-size: 50px;
                font-weight: bold;
            }

            .button-explorar{
                font-size: 17px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-width: 2px;
            }
        }
    }
}

.background-6-hsf{
    background-color: black;
    .div-content-hsf-6{
        align-items: center;
        .link-email{
            text-decoration: none;
            color: gray;
        }

        .buttons{
            gap: 19px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .button-1{
                border-width: 3px;
            }
            .button-2{
                border-width: 3px;
            }
        }

        .text{
            text-align: center;
        }
    }
}

.footer-hsf{
    background-color: black;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    gap: 17px;

    .name-footer{
        color: #4E4C4C;
    }

    .social-network-footer{
        text-decoration: none;
        color: white;
    }
    
}