*{
    padding: 0px;
    margin: 0px;
    color: white;
}
.background-1{
    background-image: url(/Home-images/01.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-width: 100%;

    .container{

        .header-home{

            .onebitcode-logo{
            width: 190px;
            }

            .nav-link{
                color: white;
                font-size: 11px;
                font-weight: bold;
            }

            .navbar-button{
                border: 1px solid #8C8C8C;
            }
        }

        .div-content-home{

            .h5{
                font-size: 39px;
            }

            .h6{
                font-size: 22px;
            }

            .button-saiba-mais{
                font-size: 13px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-width: 2px;
            }

            .div-arrow-down{

                .gif-arrow-down{
                    width: 100px;
                }
            }
        }
    }
}

.background-2{
    background-image: url(/Home-images/03.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    .container{

        .header-home{

            .onebitcode-logo{
            width: 190px;
            }
        }

        .div-content-home-2{

            .h5{
                font-size: 35px;
            }

            .button-saiba-mais{
                font-size: 13px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-width: 2px;
            }

            .div-arrow-down{

                .gif-arrow-down{
                    width: 100px;
                }
            }
        }
    }
}

.background-3{
    background-image: url(/Home-images/02.gif);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    .container{
        padding-top: 60px;

        .header-home{

            .onebitcode-logo{
            width: 190px;
            }
        }

        .div-content-home-3{

            .h5{
                font-size: 35px;
            }

            .h6{
                font-size: 21px;
            }

            .button-saiba-mais{
                font-size: 13px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-width: 2px;
            }

            .div-arrow-down{

                .gif-arrow-down{
                    width: 100px;
                }
            }
        }
    }
}

.background-4{
    background-image: url(/Home-images/04.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    .container{
        padding-top: 60px;
        
        .header-home{

            .onebitcode-logo{
            width: 190px;
            }

        }

        .div-content-home-4{

            .h5{
                font-size: 27px;
            }

            .button-saiba-mais{
                font-size: 13px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-width: 2px;
            }

            .div-arrow-down{

                .gif-arrow-down{
                    width: 100px;
                }
            }
        }
    }
}

.footer-home{
    background-color: black;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    gap: 17px;

    .name-footer{
        color: #4E4C4C;
    }

    .social-network-footer{
        text-decoration: none;
        color: white;
    }
    
}

@media(min-width: 530px){
    .background-1{

        .container{
    
            .div-content-home{
    
                .h5{
                    font-size: 55px;
                }
    
                .h6{
                    font-size: 30px;
                }
    
                .button-saiba-mais{
                    font-size: 17px;
                }
            }
        }
    }

    .background-2{
    
        .container{
    
            .div-content-home-2{
    
                .h5{
                    font-size: 51px;
                }

                .h6{
                    font-size: 23px;
                }
    
                .button-saiba-mais{
                    font-size: 17px;
                }
            }
        }
    }

    .background-3{
    
        .container{
    
            .div-content-home-3{
    
                .h5{
                    font-size: 51px;
                }

                .h6{
                    font-size: 29px;
                }
    
                .button-saiba-mais{
                    font-size: 17px;
                }
            }
        }
    }

    .background-4{
    
        .container{
    
            .div-content-home-4{
    
                .h5{
                    font-size: 32px;
                }
    
                .button-saiba-mais{
                    font-size: 17px;
                }
            }
        }
    }
}

@media(min-width: 992px){
    .background-1{
    
        .container{
    
            .header-home{
    
                .nav-link{
                    color: white;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}


@media(min-width: 1224px){
    .background-1{

        .container{
    
            .div-content-home{
    
                .h5{
                    font-size: 100px;
                }
    
                .h6{
                    font-size: 49px;
                }
    
                .button-saiba-mais{
                    font-size: 29px;
                }
            }
        }
    }

    .background-2{
    
        .container{
    
            .div-content-home-2{
    
                .h5{
                    font-size: 95px;
                }

                .h6{
                    font-size: 43px;
                }
    
                .button-saiba-mais{
                    font-size: 29px;
                }
            }
        }
    }

    .background-3{
    
        .container{
    
            .div-content-home-3{
    
                .h5{
                    font-size: 95px;
                }

                .h6{
                    font-size: 43px;
                }
    
                .button-saiba-mais{
                    font-size: 29px;
                }
            }
        }
    }

    .background-4{
    
        .container{
    
            .div-content-home-4{
    
            .h5{
                font-size: 60px;
            }

            .button-saiba-mais{
                font-size: 29px;
            }
            }
        }
    }
}

    

@import "./falcon9.scss";

@import "./hsf.scss";